@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Roboto:500');
body {font-family: 'Roboto';
	text-align: left;
	color: #000;
	font-size: 14px;
}
h1 {font-family: 'cabin condensed';
	text-align:center;
	color: #55D5E8;
	font-size: 60px;

}

